
   
<h1>This is the <%= @place.name %> page</h1>
<p>
<p>
<p>
  <a href="/posts/new?place_id=<%= @place.id %>" class="btn btn-success">Create New Post</a>
</p>
<p>

<h5>Here are the existing posts from <%= @place.name %>:</h5>
<% for post in @place.posts %>
  <h3><%= post.title %></h3>
  <h4><%= post.posted_on %></h4>
  <p><%= post.description %></p>
<% end %>


<p>
  <a href="/places">Back to All Places</a>
</p>