<p>
<h1><%= @place.name %></h1>
<p>
<h4>Here are all my posts from <%= @place.name %></h4>

<p>
  <a href="/posts/new?place_id=<%= @place.id %>" class="btn btn-success">New Post</a>
</p>

<% for post in @place.posts %>
  <div class="col-md-3 col-sm-6">
      <h4>
        <% if post.user %>
          <%= post.user.first_name %>
        <% else %>
          anonymous
        <% end %>
      </h4>

      <% if post.uploaded_image.attached? %>
        <img src="<%= url_for(post.uploaded_image) %>" class="img-fluid">
      <% else %>
        <img src="<%= post.image %>" class="img-fluid">
      <% end %>

      <p><%= post.description %></p>
    </div>
  <% end %>


<p>
  <a href="/places">Back to All Places</a>
</p>

